.product-section{
    border: 2px solid lightgrey;
    margin: 10px;
    padding: 20px;
}
.card:hover{
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
}

.order-btn{
    border: 0px;
    background-color: rgb(97, 57, 226);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Marcellus', serif;
}
.order-btn:hover{
    background-color: lightslategray;
    color: black;
}
.card img{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
}
